<div class="container my-4">
  <div class="table-responsive rounded-3">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <% @pools.each do |pool| %>
          <%= render 'pool', pool: pool%>
        <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-center my-4">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
    <div class="text-start">
      <%= link_to "처음처럼", root_path, class: "btn btn-success me-2 fw-bold shadow-sm" %>
      <%= link_to "카풀 만들기", new_pool_path, class: "btn btn-primary me-2 fw-bold shadow-sm" %>
    </div>
  </div>
</div>

<style>
  .card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
</style>
