<p style="color: green"><%= notice %></p>

<% content_for :title, "Pools" %>

<h1 class="text-center">카풀 목록</h1>

<%= render 'list' %>

<div class="text-start">
    <%= link_to "카풀 만들기", new_pool_path, class: "btn btn-success" %>
</div>
