<% content_for :title, "New Pool" %>

<div class="container mt-5" style="width:40%">
  <!-- 제목 -->
  <h1 class="text-center mb-4">카풀 만들기</h1>

  <!-- 카드 스타일로 폼 감싸기 -->
  <div class="card shadow-sm">
    <div class="card-body">
      <%= render "form", pool: @pool %>
    </div>
  </div>
  <div class="text-start mt-3">
    <%= link_to "뒤로가기", pools_path, class: "btn btn-secondary" %>
  </div>
</div>

