<% content_for :title, "로그인" %>
<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <%= render "devise/shared/logo" %>
      <h2 class="text-center">로그인</h2>
      <form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post">
        <div class="mb-3">
          <label for="userId" class="form-label"><strong>이메일</strong></label>
          <input type="text" class="form-control" id="user_email" name="user[email]" placeholder="이메일을 입력하세요">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label"><strong>비밀번호</strong></label>
          <input type="password" class="form-control" id="password" name="user[password]" placeholder="비밀번호를 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary w-100" value="Log in">로그인</button>
      </form>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>