<p>안녕하세요, <%= @resource.email %>님!</p>

<p>누군가 비밀번호를 변경할 수 있는 링크를 요청했습니다. 아래 링크를 통해 비밀번호를 변경할 수 있습니다.</p>

<p><%= link_to '비밀번호 변경하기', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>만약 요청하지 않으셨다면, 이 이메일을 무시하셔도 됩니다.</p>
<p>위 링크에 접속해 새 비밀번호를 생성하기 전까지는 비밀번호가 변경되지 않습니다.</p>
