<h1>카풀</h1>
<p>환영합니다</p>
<% if user_signed_in? %>
    <%= link_to '회원정보 수정', edit_user_registration_path %>
    <%= link_to '로그아웃', destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to '로그인', new_user_session_path %>
    <%= link_to '회원가입', new_user_registration_path %>
<% end %>
